* {
    font-family: Arial;
}

.info {
    text-align: center;
}

table {
    width: 100%;
}

th {
    background-color: blue;
    color: white;
} 

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

#data-types {
    text-align: center;
}

.dataset {
    text-align: left;
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

#centered {
    text-align: center;
}

.captions{
    display: flex;
    text-align:left;
    color: rgb(71, 71, 242);
}

.img{
    width: 50%;
    height: auto;
}

.rect {
    border-style: solid;
}

.green-rect:hover {
    fill: yellow;
}


circle:hover {
    stroke: black;
    stroke-width: 5px;
}

#decoration {
    display: flex;
    justify-content: space-between;
}

#acknowledgements {
    text-align: center;
}
